{%extends "layout.html" %}
{%block content%}
<table class="cart-table" id="table_cart">
  <h2 class="producth2" style="text-align:center; margin-top:30px;">Shopping Cart</h2>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>

    {% for key, value in display_cart.items() %}
    <tr>
      <td>{{value["name"]}}</td>
      <td>£{{ "%.2f" % value["price"]}}</td>
      <td><a href="/del_from_cart/{{value["id"]}}"><button class="del">-</button></a>    {{value["qty"]}}    <a href="/add_to_cart/{{value["id"]}}"><button class="plus">+</button></a></td>
      <td style="width:130px"><a href="/del_fully_from_cart/{{value["id"]}}"><button class="add">Delete</button></a></td>
    </tr>
    {% endfor %}

</table> <br><br><br>
<p class="total_price">Total: £{{ "%.2f" % total }}</p>
{% if total != 0 %}
  <a href="/checkout"><button class="checkout_button" type="submit" name="check_out" value="checkout">Check Out</button></a>
{% endif %}

<table class="wish-table" id="wishlist">
  <br><br><br><br><h2 class="producth2" style="text-align:center; margin-top:30px;">Wishlist</h2>
  <tr>
    <th style="background-color:#00FF99">Item Name</th>
    <th style="background-color:#00FF99">Price</th>
  </tr>

  {% for key, value in display_wish.items() %}
  <tr>
    <td>{{value["name"]}}</td>
    <td>£{{ "%.2f" % value["price"]}}</td>
    <td style="width:130px"><a href="/add_to_cart_from_wish/{{value["id"]}}"><button class="add">Add to Cart</button></a></td>
  </tr>
  {% endfor %}
</table>


{%endblock content%}
