{%extends "layout.html" %}
{%block content%}
  {% set sort_on = request.args.sort_on|default(default) %}
  {% for item in data|sort(attribute=sort_on) %}
    <div class="card">
      {% if item.id % 3 == 1 %}
      <div class="st-box">
        <img src="/static/img/{{item.img_file}}" style="width:100%" height="300">
        <h1>{{item.name}}</h1>
        <p class="price">£{{item.price}}</p>
        <p><button>Add to Cart</button></p>
      </div>
      {% endif %}
      {% if item.id % 3 == 2 %}
      <div class="nd-box">
        <img src="/static/img/{{item.img_file}}" style="width:100%" height="300">
        <h1>{{item.name}}</h1>
        <p class="price">£{{item.price}}</p>
        <p><button>Add to Cart</button></p>
      </div>
      {% endif %}
      {% if item.id % 3 == 0 %}
      <div class="rd-box">
        <img src="/static/img/{{item.img_file}}" style="width:100%" height="300">
        <h1>{{item.name}}</h1>
        <p class="price">£{{item.price}}</p>
        <p><button>Add to Cart</button></p>
      </div>
      {% endif %}
    </div>
  {% endfor %}
{%endblock content%}
