<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='payment.css')}}">
    <meta charset="utf-8">
    <title>Payment</title>
  </head>
  <body>
    <div class="container">
      <h2 class="producth2" style="text-decoration:underline">Payment details</h2>
      <form method="post">
        {{ form.csrf_token }}
        <br> {{ form.address.label }} - Full shipping address. Max 200 characters <br> <br>{{form.address}}
        <br> {{ form.cardnum.label }} - 16 digit number on card. No hyphens or spaces allowed. <br> <br>{{form.cardnum}}
        <br> {{ form.expmonth.label }} - 2 digit number. First digit can be 0. Must be more than 0 and can't exceed 12 <br> <br>{{form.expmonth}}
        <br> {{ form.expyear.label }} - 4 digit number. Must be greater than 2020 and less than 2060. <br><br>{{form.expyear}}
        <br> {{ form.cvv.label }} - 3 digit number only at back of card. <br><br> {{form.cvv}} <br>
        <input type="submit" value="Pay" class="add"> <br><br><br><br>
      {% for field, errors in form.errors.items() %}
        <small class="form-text">
            Error - {{ ', '.join(errors) }} <br>
        </small>
      {% endfor %}
      </form>
    </div>
  </body>
</html>
